@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


/* ==================== Set media query for screen sizes  =========================*/


/* @media screen and (min-width: 200px) {
  .main-container{
      background-color: rgb(189, 236, 198);
  }
} */

/* @media screen and (min-width: 200px) and (orientation: landscape) {
  .main-container{
      background-color: rgb(63, 3, 71);
  }
} */

/* ====== Galaxies screen sizes ================= */
@media screen and (min-width: 360px) and (max-height: 640px) {
  .main-container .intro-header {
    width: 100%;
    height: 40%;
    top: 10%;
  }

  .my-projects-section #projects-title {
    margin-top: 10%;
    font-size: 25px;
  }

  .multi-post {
    background-size: 95% 40%;
    background-position: left 1px bottom 335px;
    margin-top: 50px;
    width: 85vw;
    margin-left: 32px;
    padding-top: 250px;
  }

  
  .job-item-with-btn {
    background-repeat: no-repeat;
    background-size: cover;
    height: 97%;
    margin: auto;
    margin-top: 5%;
  }

  .job-post{
    width: 90%;
    font-size: 15px;
    line-height: 24px;
  }

  .about-para {
    width: 80%;
    margin-left: 15%;
  }
  .about-title {
    font-size: 40px;
  }


}

/* @media screen and (min-width: 360px) and (orientation: landscape) {
  .main-container{
      background-color: rgb(223, 18, 18);
  }
} */


@media screen and (min-width: 400px) and (max-height: 732px){
  .job-item-with-btn {
    background-repeat: no-repeat;
    background-size: cover;
    height: 97%;
    margin: auto;
    margin-top: 4.5%;
  }
}


/* @media screen and (min-width: 480px) and (orientation: portrait) {
  .main-container{
      background-color: rgb(9, 155, 46);
  }
} */


@media screen and (min-width: 600px) and (max-height: 960px){
  .job-item-with-btn {
    background-repeat: no-repeat;
    background-size: cover;
    height: 97%;
    margin: auto;
    margin-top: 3%;
  }

  .multi-post {
    background-size: 105% 60%;
    background-position: left 1px bottom 90%;
    margin-top: 5%;
  }

  .my-projects-section #projects-title {
    margin-top: 60%;
    font-size: 25px;
  }
  .multi-post-inner{
    margin-top: 40%;
   }

   .tech-lang ul {
    margin-left: 1%;
    justify-content: flex-start;
  }

  .intro-detail p{
    width: 120%;
    font-size: 25px;
    line-height: 42px;
  }

  .multi-post {
    background-size: 95% 45%;
    width: 85vw;
    margin-left: 10%;
  }

  .multi-post-inner .post{
    width: 90%;
    height: 85%;
    font-size: 20px;
    line-height: 28px;
    }

    .job-post{
      font-size: 20px;
      line-height: 27px;
      width: 60%;
      height: 13.89vh;
    }

    #btn-line{
      margin-left: 12%;;
     }
}

/* @media screen and (min-width: 600px) and (orientation: portrait) {
  .main-container{
      background-color: rgb(183, 221, 14);
  }
} */




@media screen and (min-width: 1000px) {

  .nav-bar{
    background: #3c3a39;
    margin-bottom: 15px;
    width: 98.78vw;      
  }

.nav-bar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 2%;
    margin-left: 3%;
  }
  
    .main-container {
        background-image: url('../images/Illustration-header@2x.png');
        background-repeat: no-repeat;
        background-size: 50% 100%, cover;
        background-position: right -3px bottom 10px;
        display: flex;
        flex-direction: row;
        background-color: #1c1a19;
        width: 98.73vw;
        height: 90vh;
      }
      .intro-header{
        position: absolute;
        margin-top: 5%;
      }

      .main-container .intro-header {
        width: 30%;
        height: 20%;
        top: 10%;
        color: #ff6b00;
        left: 10%;
      }

      .intro-detail p{
        width: 45vw;
        height: 123px;
        font-size: 20px;
        line-height: 32px;
      }
      .intro-detail{
        position: static;
        width: 95%;
        height: 35%;
        font-weight: 500px;
        font-size: 32%;
        line-height: 44px;
      }

      .social {
         position: absolute;
         top: 30%;
         width: 5%;
      }

      .social-ul{
          display: flex;
          flex-direction: column;
          float: left;
         
      }
      .social-ul li{
          margin-top: 10px;
          margin-bottom: 10px;
      }
 
      
      .right-item {
        display: block;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 15px;
        color: #FFFFFF;
        padding-top: 15px;
      }

      .hamburger-icon{
        visibility: hidden;
      }
      
/* ================== Portfolio projects section ====================================== */
.my-projects-section{
  display: grid;
  height: 45%;
}

.my-projects-section #projects-title {
  border: none;
  background: linear-gradient(180.45deg, rgba(8, 8, 8, 0) 0.75%, rgba(5, 5, 5, 0.9) 1.94%),url("../images/last-line.png");
  background-repeat: no-repeat;
  background-position: right 5% top 35%;
  background-size: 65% 2px;
  margin-left: 12%; 
  margin-top: 5%;
  padding-bottom: 1%;
}

.multi-post{
  background-repeat: no-repeat;
  background-size: 40vw 75vh;
  background-position: left 5% top -55px;
  width: 85vw;
  padding-top: 32%;
  margin-left: 9.87%;
}

#post-btn a, .show-in-desktop a{
  text-decoration: none;
  color: #FFFFFF;
}

.multi-post-inner{
 float: right;
 top: 52%;
 position: absolute;
 right: 10%;
 width: 45vw;
}

.post-title{
height: 45px;
font-size: 35px;
line-height: 52px;
color: #091E42;
margin-left: 155px;
}

.multi-post-inner .post{
width: 80%;
height: 110px;
font-size: 15px;
line-height: 28px;
margin-left: 160px;
}

#post-btn{
  margin-left: 160px;
  text-decoration: none;
  width: 124px;
  height: 48px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.long-link{
  text-decoration: none;
  background: #ff6b00;
  width: 27vw;
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  margin-top: 3.25%;

}

.tech-lang ul{
  align-self: center;
  margin-left: 153px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

}
.tech-lang ul li{
  background: #FFFFFF;  
  border: 1px solid #8993A4;
  padding: 10px 18px;
  border-radius: 5px;
}
.inner-job-item-two{
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  grid-template-rows: repeat(2, 43.5%);
  margin-left: 8%;
  grid-gap: 10px;
  margin-top: 5px;
  margin-right: 10%;
  width: 86vw;
  position: relative;
}


.job-item-with-btn {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../images/mid-big-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 37%;
  margin-top: 5%;
  margin-bottom: 70px;
  width: 27vw;
}

.job-post{
  font-size: 15px;
  line-height: 24px;
  width: 22vw;
  height: 13.89vh;
  color: #fff;
  margin-left: 23px;
  font-family: 'Inter', sans-serif;
}
.job-item-with-btn .show-in-desktop{
  background: #ff6b00;
  border: none;
  width: 100%;
  height: 83%;
}

.last-three-margin-top {
  margin-top: 1px;
}

.job-item-different-img{
  background-image: url("../images/sixth-img.png");
  background-repeat: no-repeat;
}

.bg-gradiant-plus{
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/sixth-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tree-img-last{
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/third-img-big.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.title-post-hide{
  visibility: hidden;
}

.tech-lang-hide{
  visibility: hidden;
}

.post-hide{
  visibility: hidden;
}

.hide-in-window{
  visibility: hidden;
}

.seveth-hide{
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.see-jobs-btn {
  background: #ff6b00;
  height: 48px;
  border: none;
  width: 28%;
  margin: auto;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 15px;

}

/* ================= About ME page styling ================================== */
.about-me-section {
  background-image: url('../images/illustration-about\ me@2x.png');
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: right 2% bottom 80%;
  height: 100%;
  padding-bottom: 180px;
  position: relative;
  width: 98.45vw;

}
.inner-about-me{
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 500px;
  padding-bottom: 50px;
  width: 90vw;
}
.about-title{
  font-size: 300%;
  line-height: 50%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5.025%;
  position: absolute;
  top: -55%;
  left: 15%;
}
.about-para {
  position: absolute;
  left: 16%;
  top: 200%;
  width: 40%;
  height: 250%;
}

#btn-line{
  width: 25%;
  position: absolute;
  left: 3%;
  top: 450%;
  border: none;
  height: 60%;
}

.lang-skill-framework{
  border-top: 1px solid #fff;
  width: 75%;
  margin-left: 165px;
  padding-top: 35px;
  display: flex;
  position: absolute;
  top: 385px;
  justify-content: space-between;
  margin-top: 60px;
}

/* ================= End of About ME page styling ================================== */

/* ===== Contact form section ================ */
.contact-section{
  width: 98.45vw;
}
.contact-flex-desk{
  width: 85vw;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 20px;
}

.message-box{
 margin-left: 5%;
 margin-top: 5%;
margin-bottom: 20px;

}

.form-container {
  display: flex;
  text-align: center;
  border: none;
  margin-top: 64px;
}

form {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 55vw;
  margin-bottom: 10%;
}

input[type='text'],
input[type='email'],
textarea {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
  border-bottom: solid 2px #dbd8d7;
}

#first-name-desktop, #lastname-desktop{
  position:inherit;
  visibility: visible;
  width: 26.50%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: none;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
  border-bottom: solid 2px #dbd8d7;
}

form #btn-submit {
  width: 20%;
  height: 18%;
  background: #ff6b00;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 22%;
  transition: all 2s ease-in-out 0s;
  border-radius: 4px;
}

.contact-social{
  border-top: solid #1c1a19 1px;;
  background-color: #e5e5e5;
}

}

@media screen and (min-width: 1000px) and (orientation: portrait) {
  .main-container .intro-header {
    width: 30%;
    height: 10%;
    top: 15%;
  }

  .intro-title {
    font-size: 30px;
  }

  .intro-detail p{
    width: 45vw;
    height: 400%;
    font-size: 30px;
    line-height: 42px;
   
  }
  .intro-detail{
    position: static;
    width: 150%;
    height: 40%;
    font-weight: 500px;
    font-size: 32%;
    line-height: 44px;
  }

   .my-projects-section #projects-title {
    margin-top: 70%;
  }

  .multi-post-inner{
    top: 117%;
    right: 12%;
   }

   .multi-post{
    background-repeat: no-repeat;
    background-size: 45vw 100vh;
    background-position: left 5% top 55%;
    width: 85vw;
    margin-left: 10%;
    padding-bottom: 25%;
  }
  .multi-post-inner .post{
    width: 90%;
    height: 50%;
    font-size: 25px;
    line-height: 32px;
    }

    .job-item-with-btn {
      background-repeat: no-repeat;
      background-size: cover;
      height: 97%;
      margin: auto;
      margin-top: 60px;
    }
    .job-post{
      font-size: 20px;
      line-height: 24px;
    }
}