@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


/* ==================== Set media query for screen sizes  =========================*/


@media screen and (min-width: 200px) {
  .main-container{
      background-color: rgb(189, 236, 199);
  }
}

@media screen and (min-width: 200px) and (orientation: landscape) {
  .main-container{
      background-color: rgb(63, 3, 71);
  }
}

/* ====== Galaxies screen sizes ================= */
@media screen and (min-width: 360px) {
  .main-container{
      /* background-color: rgb(190, 112, 23); */
  }
}

@media screen and (min-width: 360px) and (orientation: landscape) {
  .main-container{
      background-color: rgb(223, 18, 18);
  }
}


@media screen and (min-width: 480px) {
    .main-container{
        background-color: rgb(184, 14, 14);
    }
}


@media screen and (min-width: 480px) and (orientation: portrait) {
  .main-container{
      background-color: rgb(9, 155, 46);
  }
}


@media screen and (min-width: 600px) {
    .main-container{
        background-color: blue;
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .main-container{
      background-color: rgb(183, 221, 14);
  }
}


@media screen and (min-width: 768px) {
   
  .main-container {
    background-image: url('../images/Illustration-header@2x.png');
    background-repeat: no-repeat;
    background-size: 50% 100%, cover;
    background-position: right -3px bottom 10px;
    display: flex;
    flex-direction: row;
    /* background-color: #1c1a19; */
    background-color: #c74b0d;
    width: 98.73vw;
    height: 88vh;
    margin-top: 15px;
  }

  .intro-header{
     position: absolute;
      left: 90px;
      margin-top: 100px;
  }

  .intro-detail p{
    width: 45vw;
    height: 123px;
    font-size: 20px;
    line-height: 32px;
  }
  .intro-detail{
    position: static;
    width: 566px;
    height: 24px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }
  .social {
     position: absolute;
     top: 250px;
  }

  .social-ul{
      display: flex;
      flex-direction: column;
      float: left;
  }
  .social-ul li{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .nav-bar{
    background: #3c3a39;
    margin-bottom: 15px;
    width: 100%;
  }

.nav-bar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 95px;
    padding-bottom: 25px;
    padding-top: 15px;
    margin-left: 35px;
  }
  
  .right-item {
    display: block;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    padding-top: 15px;
    margin: 10px;
  }

  .hamburger-icon{
    visibility: hidden;
  }

  
/* ================== End of Portfolio projects section ====================================== */
.my-projects-section{
display: grid;
height: 45%;
}

.my-projects-section #projects-title {
border: none;
background: linear-gradient(180.45deg, rgba(8, 8, 8, 0) 0.75%, rgba(5, 5, 5, 0.9) 1.94%),url("../images/last-line.png");
background-repeat: no-repeat;
background-position: right -8% top 40%;
background-size: 55% 2%;
margin-left: 9%;
width: 80vw;
}

.multi-post{
background-repeat: no-repeat;
background-size: 55vw 45vh;
background-position: left -70px top 60px;
width: 85%;
margin-left: 110px;
padding-bottom: 275px;


}

#post-btn a, .show-in-desktop a{
text-decoration: none;
color: #FFFFFF;
}
.multi-post-inner{
float: right;
top: 950px;
position: absolute;
right: 85px;
width: 48vw;
}

.post-title{
height: 12 vh;
font-size: 30px;
line-height: 52px;
color: #091E42;
margin-left: 155px;
}

.multi-post-inner .post{
width: 40vw;
height: 17vh;
font-size: 15px;
line-height: 28px;
margin-left: 160px;
}

#post-btn{
margin-left: 160px;
text-decoration: none;
width: 124px;
height: 48px;
padding: 15px;
margin-top: 15px;
border-radius: 5px;
}

.long-link{
height: 48px;
text-decoration: none;
background: #ff6b00;
width: 100%;
text-align: center;
padding-top: 13px;
color: #fff;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
padding-bottom: 10px;
}

.tech-lang ul{
align-self: center;
margin-left: 153px;
display: flex;
justify-content: flex-start;
margin-bottom: 20px;
flex-wrap: wrap;
}

.tech-lang ul li{
background: #FFFFFF;  
border: 1px solid #8993A4;
padding: 10px 18px;
border-radius: 5px;
}
.inner-job-item-two{
height: 90%;
width: 85vw;
display: grid;
grid-template-columns: repeat(3, 28vw);
margin-left: 108px;
grid-gap: 5px;
margin-top: 5px;
margin-right: 55px;
/* background-color: aqua; */
}


.job-item-with-btn {
display: flex;
flex-direction: column;
background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../images/mid-big-img.png');
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
margin-top: 45px;
margin-bottom: 70px;
width: 97vw;
height: 70vh;
}

.job-post{
font-size: 15px;
line-height: 24px;
width: 295px;
height: 87px;
color: #fff;
margin-left: 23px;
font-family: 'Inter', sans-serif;
}

/* .job-item-with-btn .show-in-desktop{
background: #ff6b00;
border: none;
width: 100%;
height: 68px;

} */

.last-three-margin-top {
margin-top: 1px;
}

.job-item-different-img{
background-image: url("../images/sixth-img.png");
background-repeat: no-repeat;
}

.bg-gradiant-plus{
background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/sixth-img.png");
background-repeat: no-repeat;
background-size: cover;
}

.tree-img-last{
background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/third-img-big.png");
background-repeat: no-repeat;
background-size: cover;

}
.title-post-hide{
visibility: hidden;
}

.tech-lang-hide{
visibility: hidden;
}

.post-hide{
visibility: hidden;
}

.hide-in-window{
visibility: hidden;
}

.seveth-hide{
visibility: hidden;
height: 0;
width: 0;
position: absolute;
}

.see-jobs-btn {
background: #ff6b00;
height: 48px;
border: none;
width: 1%;
margin: auto;
color: #fff;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 24px;
cursor: pointer;
margin-top: 15px;
}

/* ================= About ME page styling ================================== */
.about-me-section {
background-image: url('../images/illustration-about\ me@2x.png');
background-repeat: no-repeat;
background-size: 480px 300px, cover;
background-position: right 3px bottom 450px;
height: 100%;
background-color: #1c1a19;
padding-bottom: 180px;
position: relative;
}
.inner-about-me{
position: relative;
margin-top: 50px;
display: flex;
flex-direction: column;
align-content: flex-start;
margin-bottom: 500px;
padding-bottom: 50px;
}
.about-title{
position: absolute;
top: -55px;
left: 75px;
width: 566px;
height: 78px;
}
.about-para {
position: absolute;
left: 150px;
top: 120px;
width: 566px;
height: 148px;

}

#btn-line{
position: absolute;
left: 85px;
top: 250px;
border: none;
}

.lang-skill-framework{
border-top: 1px solid #fff;
width: 75%;
margin-left: 165px;
padding-top: 35px;
display: flex;
position: absolute;
top: 385px;
justify-content: space-between;
margin-top: 60px;
}

/* ================= End of About ME page styling ================================== */

/* ===== Contact form section ================ */
.contact-section{
background-color: #e5e5e5;
}
.contact-flex-desk{
width: 85%;
display: flex;
justify-content: space-between;
margin-left: 30px;
margin-bottom: 20px;
}

.message-box{
width: 1150px;
margin-left: 120px;
margin-top: 30px;
margin-bottom: 20px; 

}

.form-container {
display: flex;
text-align: center;
border: none;
margin-top: 64px;
}

form {
display: inline-block;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

input[type='text'],
input[type='email'],
textarea {
width: 55%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: none;
background-color: #e5e5e5;
font-family: Inter, sans-serif;
border-bottom: solid 2px #dbd8d7;
}

#first-name-desktop, #lastname-desktop{
position:inherit;
visibility: visible;
width: 26.50%;
padding: 12px 20px;
margin: 15px 0;
display: inline-block;
border: none;
background-color: #e5e5e5;
font-family: Inter, sans-serif;
border-bottom: solid 2px #dbd8d7;
}

#first-name-desktop{
position: absolute;
left: 275px;
}
#lastname-desktop{
position: absolute;
right: 265px;
}

form #btn-submit {
width: 131px;
height: 38px;
background: #ff6b00;
margin-top: 10px;
margin-bottom: 100px;
border: none;
color: #fff;
cursor: pointer;
position: absolute;
top: 269px;
left: 171px;
transition: all 2s ease-in-out 0s;
border-radius: 4px;
}

.contact-social{
border-top: solid #1c1a19 1px;;
padding-top: 15px;
background-color: #e5e5e5;
margin-bottom: 5px;
}
}

@media screen and (min-width: 768px) and (orientation: portrait) {
   .main-container {
     background-color: blueviolet;
   }
}


@media screen and (min-width: 1024px) {
  .nav-bar ul {
    display: flex;
    background: #3c3a39;
    list-style-type: none;
    align-items: center;
    height: 10vh;
    width: 98vw;
  }
  
    .main-container {
        background-image: url('../images/Illustration-header@2x.png');
        background-repeat: no-repeat;
        background-size: 50% 100%, cover;
        background-position: right -3px bottom 10px;
        display: flex;
        flex-direction: row;
        background-color: #1c1a19;
        width: 98.73vw;
        height: 88vh;
        margin-top: 15px;
      }
      .intro-header{
         position: absolute;
          left: 150px;
          margin-top: 100px;
      }

      .intro-detail p{
        width: 45vw;
        height: 123px;
        font-size: 20px;
        line-height: 32px;
      }
      .intro-detail{
        position: static;
        width: 566px;
        height: 24px;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
      }
      .social {
         position: absolute;
         top: 250px;
      }

      .social-ul{
          display: flex;
          flex-direction: column;
          float: left;
      }
      .social-ul li{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .nav-bar{
        background: #3c3a39;
        margin-bottom: 15px;
        width: 100%;
      }

    .nav-bar ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        height: 95px;
        padding-bottom: 25px;
        padding-top: 15px;
        margin-left: 35px;
      }
      
      .right-item {
        display: block;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 15px;
        color: #FFFFFF;
        padding-top: 15px;
      }

      .hamburger-icon{
        visibility: hidden;
      }
      
/* ================== End of Portfolio projects section ====================================== */
.my-projects-section{
  display: grid;
  height: 45%;
}

.my-projects-section #projects-title {
  border: none;
  background: linear-gradient(180.45deg, rgba(8, 8, 8, 0) 0.75%, rgba(5, 5, 5, 0.9) 1.94%),url("../images/last-line.png");
  background-repeat: no-repeat;
  background-position: right 10% top 35%;
  background-size: 55% 2px;
  margin-left: 135px; 
  /* background-color: #a84514; */
}

.multi-post{
  background-repeat: no-repeat;
  background-size: 45vw 95vh;
  background-position: left 5% top -65px;
  width: 85vw;
  margin-left: 110px;
  padding-bottom: 275px;
}

#post-btn a, .show-in-desktop a{
  text-decoration: none;
  color: #FFFFFF;
}

.multi-post-inner{
 float: right;
 top: 145%;
 position: absolute;
 right: 7%;
 /* background-color: #c74b0d; */
 width: 45vw;
}

.post-title{
height: 45px;
font-size: 35px;
line-height: 52px;
color: #091E42;
margin-left: 155px;
/* background-color: #c74b0d; */
}

.multi-post-inner .post{
width: 80%;
height: 110px;
font-size: 15px;
line-height: 28px;
margin-left: 160px;


}

#post-btn{
  margin-left: 160px;
  text-decoration: none;
  width: 124px;
  height: 48px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.long-link{
  height: 10vh;
  text-decoration: none;
  background: #ff6b00;
  width: 27vw;
  text-align: center;
  /* padding-top: 3%; */
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  /* padding-bottom: 10px; */
}

.tech-lang ul{
  align-self: center;
  margin-left: 153px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

}
.tech-lang ul li{
  background: #FFFFFF;  
  border: 1px solid #8993A4;
  padding: 10px 18px;
  border-radius: 5px;
}
.inner-job-item-two{
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 28vw);
  grid-template-rows: repeat(2, 75vh);
  margin-left: 108px;
  grid-gap: 5px;
  margin-top: 5px;
  margin-right: 50px;
  background-color: rgb(102, 6, 6);
  width: 86vw;
}


.job-item-with-btn {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('../images/mid-big-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  margin-top: 45px;
  margin-bottom: 70px;
  width: 27vw;
  height: 62vh;
}


.job-post{
  font-size: 15px;
  line-height: 24px;
  width: 22vw;
  height: 13.89vh;
  color: #fff;
  margin-left: 23px;
  font-family: 'Inter', sans-serif;
}
.job-item-with-btn .show-in-desktop{
  background: #ff6b00;
  border: none;
  width: 100%;
  height: 68px;
}

.last-three-margin-top {
  margin-top: 1px;
}

.job-item-different-img{
 background-image: url("../images/sixth-img.png");
  background-repeat: no-repeat;
  background-color: darkorchid;
  height: 62vh;
}
.bg-gradiant-plus{
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/sixth-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 62vh;
}

.tree-img-last{
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),url("../images/third-img-big.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 62vh;

}
.title-post-hide{
  visibility: hidden;
}

.tech-lang-hide{
  visibility: hidden;
}

.post-hide{
  visibility: hidden;
}

.hide-in-window{
  visibility: hidden;
}

.seveth-hide{
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.see-jobs-btn {
  background: #ff6b00;
  height: 48px;
  border: none;
  width: 28%;
  margin: auto;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 15px;
}

/* ================= About ME page styling ================================== */
.about-me-section {
  background-image: url('../images/illustration-about\ me@2x.png');
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: right 2% bottom 80%;
  height: 100%;
  padding-bottom: 180px;
  position: relative;
  width: 98.45vw;
}
.inner-about-me{
  position: relative;
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-content: flex-start;
  margin-bottom: 500px;
  padding-bottom: 50px;
  /* background-color: darkorchid; */
  width: 90vw;
}
.about-title{
  position: absolute;
  top: -55px;
  left: 75px;
  width: 40vw;
  height: 50vh;
}
.about-para {
  position: absolute;
  left: 150px;
  top: 120px;
  width: 40vw;
  height: 10vh;
  
}

#btn-line{
 position: absolute;
 left: 85px;
 top: 250px;
 border: none;
}

.lang-skill-framework{
  border-top: 1px solid #fff;
  width: 75%;
  margin-left: 165px;
  padding-top: 35px;
  display: flex;
  position: absolute;
  top: 385px;
  justify-content: space-between;
  margin-top: 60px;
}

/* ================= End of About ME page styling ================================== */

/* ===== Contact form section ================ */
.contact-section{
  width: 98.45vw;
}
.contact-flex-desk{
  width: 85vw;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 20px;
  
}

.message-box{
 width: 85vw;
 margin-left: 120px;
 margin-top: 30px;
margin-bottom: 20px; 

}

.form-container {
  display: flex;
  text-align: center;
  border: none;
  margin-top: 64px;
}

form {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 60vw;
}

input[type='text'],
input[type='email'],
textarea {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
  border-bottom: solid 2px #dbd8d7;
}

#first-name-desktop, #lastname-desktop{
  position:inherit;
  visibility: visible;
  width: 26.50%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: none;
  background-color: #e5e5e5;
  font-family: Inter, sans-serif;
  border-bottom: solid 2px #dbd8d7;
}

#first-name-desktop{
  position: absolute;
  left: 275px;
}
#lastname-desktop{
  position: absolute;
  right: 265px;
}

form #btn-submit {
  width: 131px;
  height: 38px;
  background: #ff6b00;
  margin-top: 10px;
  margin-bottom: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 269px;
  left: 171px;
  transition: all 2s ease-in-out 0s;
  border-radius: 4px;
}

.contact-social{
  border-top: solid #1c1a19 1px;;
  padding-top: 15px;
  background-color: #e5e5e5;
  margin-bottom: 5px;
}

}

@media screen and (min-width: 1024px) and (orientation: portrait) {
    .main-container{
      background-color: aqua;
      /* Styling for Ipad pro */
    }
}